

<h1 class="text-monospace ">What is on your mind?<span class="far fa-smile"><span></h1>
<h5 class="text-monospace">Feel free to post anything or even ask a question. Your identity is concealed</h5>

<%= render 'form', forum: @forum %>

<%= link_to 'Back', forums_path %>
